@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    font-family:Arial, Helvetica, sans-serif;
}

table, td, th {  
    border: 1px solid rgb(208, 207, 207);
    text-align: center;
}
th, td {
    padding: 15px;
}
td{
    color: rgb(153, 152, 152);
}